<div class="container">
  <h2 class="title">Notícias</h2>
  <div id="newsContainer"></div>
</div>

<div class="row d-md-flex">
  {{#each data}}
  <div class="col-md-3 col-lg-4">
    <article class="card">
      <img class="card-img-top" src="{{imagem_capa}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <p class="card-text">{{autor}} - {{dia}}/{{mes}}/{{ano}}</p>

    </article>
  </div>
  {{/each}}
</div>
