<div class="container">
    <h2 class="title">Notícias</h2>
    <div id="newsContainer"></div>
</div>
<div class="card-goup">
    <div class="card" style="width: 18rem;">
        {{#each data}}
             <img class="card-img-top" src="{{imagem_capa}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <p class="card-text">{{autor}} - {{dia}}/{{mes}}/{{ano}}</p>              
        {{/each}}    
    </div>
</div>



