<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Ouro Preto</title>       
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{{body}}}
    {{!-- <div>
        <div id="newsContainer"></div>
    </div>
    
    <script id="newsTemplate" type="text/x-hadlebars-tempate">
    {{#each newa}}
        <div class="col-md-3 news" >
            <div class="photo-column">
                <img src="{{imagem_capa}}">
            </div>
            <div class="info">
                <h3>{{titulo}}</h3>
                <h4>{{autor}}<h4>
                <h4>{{dia}}{{mes}}{{ano}}</h4>
            </div>
        </div>
        

    {{/each}}
    </script>
    <!-- v4.0.5-->
    <script src="js/handlebars-v4.0.4.js"></script> --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
</body>
<footer>
    <h5>Dani Pralon</h5>
</footer>
</html>